.comment-box-flex {
    display: flex;
    margin-top: 10px;
}

img.small-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-right {
    background-color: rgba(0,0,0,0.10);
    padding: 5px 10px;
    border-radius: 8px;
}

.comment-main-name {
    font-weight: 600;
    font-size: 12px
}

.comment-main > p {
    font-size: 12px;
}

.comment-buttons {
    font-weight: 600;
    color: darkgray;
    font-size: 12px;
    padding: 0px 15px 0px 15px;
}

.comment-buttons > span:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 1px 3px;
    color: white
}

/* in POST INDEX ITEM */

.single-post-create-comments {
    display: flex;
    margin-top: 10px;
}

.single-post-create-comments > input[type=text] {
    width: 90%;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.10);
    border: none;
}

.comment-main > a:visited {
    color: black;
}