.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-post-box {
  width: 565px;
  background-color: #424B54;
  border-radius: 10px;
  color: white;
}

.create-post-prop {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
  border-bottom: 1px solid white;
  text-align: center;
}

.fa-times-circle {
  position: absolute;
  left: 91%;
  font-size: 40px;
  top: 10%;
  color: rgba(0, 0, 0, 0.25)
}

.fa-times-circle:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.create-post-user {
  display: flex;
}

.create-post-user-picture > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 7px;
  border: 2px solid white;
}

.create-post-user-detail {
  /* background-color: red; */
  line-height: 1.6;
  padding: 8px;
}

.create-post-user-detail > div > i {
  margin: 5px;
  font-size: 16px;
}
.create-post-user-detail > div {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 5px;
  border-radius: 5px;
  width: 85px;
}

.create-post-form-container > textarea {
  border: none;
  padding: 10px;
  width: 530px;
  margin: 7px;
  height: 200px;
  border-radius: 5px;
  resize: none;
  font-family: sans-serif;
  font-size: 15px;
}

.hidden {
  display: none;
}

img.pic-preview {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.create-post-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  border: 1px solid white;
  margin: 0 6px;
  border-radius: 5px;
}

.create-post-form-icons {
}

.fa-video, .fa-user-tag, .fa-map-marker-alt, .fa-ellipsis-h, .fa-images {
  padding-left: 10px;
  font-size: 18px;
}

.fa-video:hover, .fa-user-tag:hover, .fa-map-marker-alt:hover, .fa-ellipsis-h:hover, .fa-images:hover {
  color: lightgray;
}

.fa-images:hover {
  cursor: pointer;
}

.create-post-preview, .create-post-form-submit {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.create-post-form-submit > input[type=submit] {
  padding: 10px 50px;
  margin-bottom: 20px;
  font-size: 12px;
  background-color: #FBDADC;
  color: #424B54;
  font-weight: 600;
  border-radius: 5px;
}
.create-post-form-submit > input[type=submit]:hover {
  background-color: #F5A3A9;
}