.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-post-box {
  width: 565px;
  background-color: antiquewhite;
}

.create-post-prop {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
  border-bottom: 1px solid grey;
  text-align: center;
}

.fa-times-circle {
  position: absolute;
  left: 90%;
  font-size: 40px;
  top: 10%;
}

.create-post-user {
  display: flex;
}

.create-post-form-container > textarea {
  border: none;
  padding: 10px;
  width: 530px;
  margin: 7px;
}

.hidden {
  display: none;
}