nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

nav > a:visited {
    color: white;
}

nav > a {
    font-size: 25px;
}

.navbar-right {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    /* background-color: whitesmoke; */
    width: 300px;
}

.navbar-right > a:visited {
    color: white;
}

.searchform {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-left: 20px;
}

.searchform > i {
    font-size: 40px;
}

.searchform > input[type=text] {
    width: 240px;
    height: 33px;
    border-radius: 15px;
}