nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}


.navbar-right {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    /* background-color: whitesmoke; */
    width: 400px;
    padding-right: 20px;
}

.searchform {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-left: 20px;
}

i.fa-facebook {
    font-size: 40px;
    color: white
}


.searchform > input[type=text] {
    width: 240px;
    height: 34px;
    border-radius: 17px;
}

.roundbutton {
    background-color: rgba(0,0,0,0.2);
    height: 42px;
    width: 42px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.roundbutton:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

a:visited {
    color: white;
}

.fa-plus, .fa-facebook-messenger, .fa-bell, .fa-caret-down {
    margin-top: 7px;
}

.profile-small > h2 {
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    padding-top: 12px;
}

.squarebutton {
    height: 80%;
    width: 11.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.squarebutton:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}

.fa-home, .fa-youtube-square, .fa-laptop-house, .fa-gamepad {
    font-size: 30px;
}