nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}


.navbar-right {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    /* background-color: whitesmoke; */
    width: 400px;
    padding-right: 20px;
}

.searchform {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-left: 20px;
}

i.fa-facebook {
    font-size: 40px;
    color: white
}


.searchform > input[type=text] {
    width: 240px;
    height: 34px;
    border-radius: 17px;
    padding-left: 10px;
}

.roundbutton {
    background-color: rgba(0,0,0,0.2);
    height: 42px;
    width: 42px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.roundbutton:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.fa-plus, .fa-facebook-messenger, .fa-bell, .fa-caret-down {
    margin-top: 7px;
}

.profile-small > h2 {
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    padding-top: 12px;
}

.squarebutton {
    height: 80%;
    width: 11.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.squarebutton:hover {
    background-color: rgba(0,0,0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

.fa-github-square, .fa-goodreads, .fa-linkedin {
    font-size: 25px;
}

.fa-home {
    font-size: 30px;
}



/*DROPOWN MENU*/


.dropdown {
    position: absolute;
    background-color: white;
    top: 45px;
    right: 10px;
    width: 330px;
    border-radius: 8px;
    z-index: 1;
    color: black;
    padding: 15px;
    box-shadow: 2px 2px 8px 2px rgba(135,135,135,1);
}

.hidden {
    display: none;
}

.roundbutton {
    position: relative;
}

img.dropdown-profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 20px 0 5px;
    /* border: 1px solid black; */
}

.dropdown-profile > a {
    display: flex;
    /* border-bottom: 1px solid grey; */
    padding: 10px 0;
    border-radius: 7px;
}

.dropdown-profile > a:hover {
    background-color: rgba(0,0,0,0.1)
}

.dropdown-profile > a:visited {
    color: black;
}

.dropdown-profile-detail > h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

.dropdown-profile-detail > p {
    font-size: 14px;
    color: grey;    
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 10px 0;
}

.dropdown-feedback, .dropdown-logout {
    display: flex;
    /* background-color: lightpink; */
    padding: 5px;
    border-radius: 7px;
    align-items: center;
}

.dropdown-feedback:hover, .dropdown-logout:hover {
    background-color: rgba(0,0,0,0.1);
}

.dropdown-feedback-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    margin-right: 15px;
}

.dropdown-feeback-text > h1, .dropdown-logout-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}

.dropdown-feeback-text > p, .dropdown-terms {
    font-size: 12px;
    color: grey;  
}

/*     ALERTS     */

.roundbutton {
    position: relative;
}

.friend-request-alert {
    position: absolute;
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -7px;
    font-weight: 600;
}