.trigger-create-post-box {
    width: 97.5%;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px 0px rgba(133,133,133,1);
    margin-top: 20px;
}

.trigger-top {
    padding-bottom: 10px;
    border-bottom: solid darkgray 1px;
    display: flex;
    justify-content: space-around;
}

.trigger-top > input[type=text] {
    padding: 12px;
    width: 85%;
    border-radius: 16px;
    background-color: lightgray;
    opacity: 50%;
    border: lightgray solid 1px;
}

.trigger-bottom {
    display: flex;
    justify-content: space-around;
}

ul.trigger-bottom > li > i {
    color: pink;
    display: inline-block;
    font-size: 20px;
    padding-right: 10px;
}

.trigger-bottom > li {
    display: block;
    padding: 5px 55px;
    margin-top: 10px;
    border-radius: 5px;
}

.trigger-bottom > li:hover {
    background-color: rgba(0,0,0,0.1);
}

/* POST INDEX ITEM */

.single-post-header {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.single-post-top {
    display: flex;
}

.single-post-user {
    color: grey;
    font-size: 12px;
    line-height: 1.6;
    padding-left: 15px;
}

.single-post-user-h2 {
    font-size: 16px;
    color: black;
    font-weight: 600px;
}

.single-post-body {
    padding: 15px 5px 10px 5px;
    border-bottom: 1px solid grey;
}

.single-post-response {
    display: flex;
    justify-content: space-around;
}

.response-icon {
    border-radius: 7px;
    padding: 8px 143px;
    margin-top: 10px;
}

.response-icon:hover {
    background-color: rgba(0,0,0,0.1);
}

.response-icon > a > i {
    padding-right: 15px;
}

.single-post-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

.single-post-img > img {
    max-width: 95%;
}

.post-thumb {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}