/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, h1, h2, h3, h4, h5, h6, div, main, nav, p, ul, ol, li, aside, article, header, footer {
   border: 0px;
   margin: 0px;
   padding: 0px;
   outline: 0px;
   text-align: inherit;
   font: inherit;
   background-color: transparent;
   list-style: none;
}

body {
   font-family: system-ui, 'Roboto', sans-serif;
   background-color: #826251;
   background-color: #84DCCF;
   background-color: #14c1c7; /*lighter #34d6ce*/
   /* background-color: #545E56; THIS WAS MY INITIAL COLOR! */
   /* background-color: #7EBDC3; THIS WAS MY INITIAL COLOR*/
   /* padding: 50px; */
}

header {
   margin: 30px 230px 5px 230px;
} /*ARGH*/

a {
   text-decoration: none;
}

nav {
   background: #3D5467;
}

footer {
   background: white;
   padding: 40px 230px 5px 230px;
   color: lightgray;
   font-size: 14px;
}

article {
   background-color: #84DCCF;
   display: flex;
}

aside {
   background-color: #826251; /*splashcontainer*/
   width: 23%;
   box-sizing: border-box;
   padding: 20px;
}

.newsfeed-container {
   background-color: #FFA69E;
   width: 53%;
   padding: 0 20px;
}